@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap");

body {
  background-color: #7cacd3bd;
}

main {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

form {
  border: black 2px solid;
  padding: 10px;
  border-radius: 20px;
  margin-top: 5%;
}

label {
  font-size: 0.9rem;
  margin-top: 3vh;
  margin-bottom: 0% !important;
}

#passWord {
  margin-bottom: 10%;
}

#view {
  transform: translate(-20px, -3px);
  cursor: pointer;
}

input#sub {
  margin: 0 22% 0 22%;
}

input#userName {
  margin-bottom: 30%;
}

#sub:hover {
  background-color: black;
  color: yellowgreen;
  box-shadow: 11px 9px 3px yellowgreen;
}

section#Langages {
  border: rgb(255, 70, 70) 1px solid;
  background: rgb(255, 70, 70);
  margin-top: 1%;
  padding: 1% 0 5% 3%;
  transition: padding 1s;
}
/*
Theme : 
background : skyblue,
font : Verdana, Geneva, Tahoma, sans-serif,
button : yellowgreen,
button:hover : black,
a : #33aada,
label : "Source Code Pro",
div_background : #FF4646
*/
